<div class="col-12">
    <div class="card widget-card border-light shadow-sm">
      <div class="card-header text-bg-primary">درباره من</div>
      <div class="card-body">
        <ul class="list-group list-group-flush mb-0 pr-0">
          <li class="list-group-item">
            <h6 class="mb-1">
              <span class="bii bi-mortarboard-fill me-2"></span>
              تحصیلات
            </h6>
            <span>لیسانس کامپیوتر</span>
          </li>
          <li class="list-group-item">
            <h6 class="mb-1">
              <span class="bii bi-geo-alt-fill me-2"></span>
              آدرس
            </h6>
            <span>زنجان -زنجان</span>
          </li>
          <li class="list-group-item">
            <h6 class="mb-1">
              <span class="bii bi-building-fill-gear me-2"></span>
              شرکت
            </h6>
            <span>توسعه سیستم سانای</span>
          </li>
        </ul>
      </div>
    </div>
  </div>