  <section>
    <div class="container">
      <div class="row gy-3 gy-md-4">
        <div class="col-12 col-lg-12 mt-5">
          <div class="row gy-3 gy-md-4">
            <div class="col-12">
              <div class="card widget-card border-light shadow-sm">
                <div class="card-body">
                  <table class="table" >
                    <thead>
                      <tr>
                        <th scope="col">ردیف</th>
                        <th scope="col">نام</th>
                        <th scope="col">نام خانوادگی</th>
                        <th scope="col">نام کاربری</th>
                        <th scope="col">شهر</th>
                        <th scope="col">وضعیت</th>
                        <th scope="col" class="text-center">عملیات</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let user of users">
                      <tr>
                        <td scope="row">{{user.rowNumber}}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.family }}</td>
                        <td>{{user.userName}}</td>
                        <td>{{user.province}}</td>
                        <td>{{user.status}}</td>
                        <td class="text-center">
                            <a href="" (click)="onEditUser($event)"><i class="bi bi-pencil-square text-warning tbl-icon"></i></a>
                            <a href=""><i class="bi bi-trash tbl-icon text-danger"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div  >
                    <app-pagination>
                    </app-pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>