  <section>
    <div class="container">
      <div class="row gy-3 gy-md-4">
        <div class="col-12 col-lg-12 mt-5">
          <div class="row gy-3 gy-md-4">
            <div class="col-12">
              <div class="card widget-card border-light shadow-sm">
                <div class="card-header bg-transparent p-4 border-light-subtle">
                  <h5 class="card-title widget-card-title m-0">لیست کاربران</h5>
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">نام</th>
                        <th scope="col">نام خانوادگی</th>
                        <th scope="col">نام کاربری</th>
                        <th scope="col">شهر</th>
                        <th scope="col">وضعیت</th>
                        <th scope="col" class="text-center">ویرایش / حذف </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>محمد</td>
                        <td>دهقانی</td>
                        <td>@dehqni</td>
                        <td>@dehqni</td>
                        <td>@dehqni</td>
                        <td class="text-center">
                            <a href=""><i class="bi bi-pencil-square text-warning tbl-icon"></i></a>
                            <a href=""><i class="bi bi-trash tbl-icon text-danger"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>مصطفی</td>
                        <td>اسماعیلی</td>
                        <td>@monfared</td>
                        <td>@monfared</td>
                        <td>@monfared</td>
                        <td class="text-center">
                            <a href=""><i class="bi bi-pencil-square text-warning tbl-icon"></i></a>
                            <a href=""><i class="bi bi-trash tbl-icon text-danger"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>