<div class="col-12">
    <div class="card widget-card border-light shadow-sm">
      <div class="card-header text-bg-primary">مهارت ها</div>
      <div class="card-body">
        <span class="badge text-bg-primary">HTML</span>
        <span class="badge text-bg-primary">SCSS</span>
        <span class="badge text-bg-primary">Javascript</span>
        <span class="badge text-bg-primary">React</span>
        <span class="badge text-bg-primary">Vue</span>
        <span class="badge text-bg-primary">Angular</span>
        <span class="badge text-bg-primary">UI</span>
        <span class="badge text-bg-primary">UX</span>
      </div>
    </div>
  </div>