<div class="col-12">
    <div class="card widget-card border-light shadow-sm">
      <div class="card-header text-bg-primary">حساب های مجازی</div>
      <div class="card-body">
        <a href="#!" class="d-inline-block bg-dark link-light lh-1 p-2 rounded">
          <i class="bi bi-youtube"></i>
        </a>
        <a href="#!" class="d-inline-block bg-dark link-light lh-1 p-2 rounded">
          <i class="bi bi-twitter-x"></i>
        </a>
        <a href="#!" class="d-inline-block bg-dark link-light lh-1 p-2 rounded">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="#!" class="d-inline-block bg-dark link-light lh-1 p-2 rounded">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
    </div>
  </div>