
  @font-face {
    font-family: 'vazirWithoutLatin';
    src: url('../../../assets/font/Farsi-Digits/Vazir-Regular-FD.eot');
    src: url('../../../assets/font/Farsi-Digits/Vazir-Regular-FD.eot') format('embedded-opentype'),
    url('../../../assets/font/Farsi-Digits/Vazir-Regular-FD.woff') format('woff'),
    url('../../../assets/font/Farsi-Digits/Vazir-Regular-FD.ttf') format('truetype');
    font-weight : normal;
    font-style : normal;
  }