.navbar-brand{
    margin: 0 !important;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 0.4rem;
}

 .navbar{
    height: 5rem;
 }