<section class="pb-3 pb-md-4 pb-xl-5 bg-light">
    <div class="container">
        <div class="row gy-3 gy-md-4">
            <div class="col-12 col-lg-6 col-xl-5">
                <div class="card widget-card border-light shadow-sm h-100">
                    <div class="card-body p-4">
                        <div id="bsb-calendar-1"
                            class="fc fc-media-screen fc-direction-rtl fc-theme-bootstrap5 bsb-calendar-theme">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="card widget-card border-light shadow-sm h-100">
                    <div class="card-body p-4">
                        <h5 class="card-title widget-card-title mb-4">تراکنش های ماهیانه</h5>
                        <div class="table-responsive">
                            <table class="table table-borderless bsb-table-xl text-nowrap align-middle m-0">
                                <thead>
                                    <tr>
                                        <th>شناسه صورت حساب</th>
                                        <th>مشتری</th>
                                        <th>محصول</th>
                                        <th>قیمت</th>
                                        <th>وضعیت</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <h6 class="mb-1">#HO3210</h6>
                                            <span class="text-secondary fs-7">Web, UI Design</span>
                                        </td>
                                        <td>
                                            <h6 class="mb-1">Oliver</h6>
                                            <span class="text-secondary fs-7">United States</span>
                                        </td>
                                        <td>
                                            <h6 class="mb-1">Bootstrap</h6>
                                            <span class="text-secondary fs-7">v5.3+</span>
                                        </td>
                                        <td>$495</td>
                                        <td>
                                            <span class="badge rounded-pill bg-danger">در حال انتظار</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6 class="mb-1">#DR8672</h6>
                                            <span class="text-secondary fs-7">Web, UX Design</span>
                                        </td>
                                        <td>
                                            <h6 class="mb-1">Emma</h6>
                                            <span class="text-secondary fs-7">United Kingdom</span>
                                        </td>
                                        <td>
                                            <h6 class="mb-1">WordPress</h6>
                                            <span class="text-secondary fs-7">v6.3+</span>
                                        </td>
                                        <td>$950</td>
                                        <td>
                                            <span class="badge rounded-pill bg-success">پرداخت شده</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6 class="mb-1">#SA2910</h6>
                                            <span class="text-secondary fs-7">Web, SEO</span>
                                        </td>
                                        <td>
                                            <h6 class="mb-1">Isabella</h6>
                                            <span class="text-secondary fs-7">Canada</span>
                                        </td>
                                        <td>
                                            <h6 class="mb-1">React</h6>
                                            <span class="text-secondary fs-7">v18+</span>
                                        </td>
                                        <td>$700</td>
                                        <td>
                                            <span class="badge rounded-pill bg-info">درحال انتظار</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6 class="mb-1">#BD1019</h6>
                                            <span class="text-secondary fs-7">SEM, SEO</span>
                                        </td>
                                        <td>
                                            <h6 class="mb-1">William</h6>
                                            <span class="text-secondary fs-7">UAE</span>
                                        </td>
                                        <td>
                                            <h6 class="mb-1">Vue</h6>
                                            <span class="text-secondary fs-7">v3+</span>
                                        </td>
                                        <td>$875</td>
                                        <td>
                                            <span class="badge rounded-pill bg-warning">در حال مذاکره</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>