<section class="pb-3 pb-md-4 pb-xl-5 bg-light">
    <div class="container">
        <div class="row gy-3 gy-md-4">
            <div class="col-12 col-lg-6 col-xl-5">
                <div class="card widget-card bsb-timeline-8 border-light shadow-sm h-100">
                    <div class="card-body p-4">
                        <h5 class="card-title widget-card-title mb-3"> تراکنش های اخیر</h5>
                        <ul class="timeline">
                            <li class="timeline-item">
                                <div class="timeline-body">
                                    <div class="timeline-meta">
                                        <span>32 دقیقه</span>
                                    </div>
                                    <div class="timeline-content timeline-indicator">
                                        <h6 class="mb-1">مبلغ دریافتی  در دروازه pay pal</h6>
                                        <span class="text-secondary fs-7">کاربر: محمد دهقانی</span>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <div class="timeline-body">
                                    <div class="timeline-meta">
                                        <span>49 دقیقه</span>
                                    </div>
                                    <div class="timeline-content timeline-indicator">
                                        <h6 class="mb-1">فروش جدید در قالب های مدیریت بوت استرپ</h6>
                                        <span class="text-secondary fs-7">محصول: پنل ادمین</span>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <div class="timeline-body">
                                    <div class="timeline-meta">
                                        <span>2 ساعت</span>
                                    </div>
                                    <div class="timeline-content timeline-indicator">
                                        <h6 class="mb-1">کاربر ثبت نام در کمپین تخفیف</h6>
                                        <span class="text-secondary fs-7">کشور: ایران</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="card widget-card border-light shadow-sm h-100">
                    <div class="card-body p-4">
                        <div class="d-block d-sm-flex align-items-center justify-content-between mb-3">
                            <div class="mb-2 mb-sm-0">
                                <h5 class="card-title widget-card-title m-0">صورت کلی فروش</h5>
                            </div>
                            <div>
                                <span class="text-secondary fs-7">اخرین بروزرسانی : 7 روز گذشته</span>
                            </div>
                        </div>
                        <div id="bsb-map-2" class="bsb-jvm-zoom-btn">
                            <div id="chart">
                                <apx-chart
                                [series]="chartOptions.series"
                                [chart]="chartOptions.chart"
                                [labels]="chartOptions.labels"
                                [responsive]="chartOptions.responsive"
                              ></apx-chart>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>