.pagination{
    display: flex;
    justify-content: end;
    align-items: baseline;
    margin-top: 2rem;
}

div > input{
    width: 3rem;
    text-align: center;
    line-height: 1.5;
    border-radius: 0;
    height: 30px;
    border: var(--bs-border-width) solid #daecff;

}

div > button {
    width: 3rem;
    line-height: 1.5;
    -webkit-appearance: none;
    appearance: none;
    background-clip: padding-box;
    border: var(--bs-border-width) solid #daecff;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button{
    height: 30px;
    background-color: #ffffff !important;
}

button.chevron-double-right{
    border-radius: 0px 10px 10px 0px;
    border-left: none !important;
}

button.chevron-left{
    border-radius: 10px 0px 0px 10px;
    border-right: none !important;
}

button.chevron-right{
    border-left: none !important;
}

i {
    font-size: 12px;
}