.error-message {
    font-size: 12px;
    margin-top: 5px;
  }

  .input-error{
    border-color: #ff9f9f;
    box-shadow: 0 0 0 0.15rem #ff393938;
  }
  
  .username-input-area{
    display: flex;
    align-items: baseline;
  }

  div.username-input-area > span{
    border-radius: 7px 0px 0px 7px !important;

  }

  div.username-input-area > input{
    border-radius: 0px 7px 7px 0px  !important;

  }

  ::ng-deep .day{
    font-size: 15px!important;
  }


  ::ng-deep .arrow {
    font-size: 12px!important;
  }

  
  ::ng-deep .title {
    font-size: 14px!important;
  }

  ::ng-deep .date-picker-mode {
    width: 18rem!important;
    z-index: 999;
    height: 18rem!important;
}

  ::ng-deep .date-container{
  position: relative;
  width: 16rem;
  background-color: #fdfdfd;
  z-index: 999;
  border-radius: 1rem;
  height: 20rem;
  box-shadow: 0 0 3px #c7c7c7;
  border: 0;
  display: flex;
  flex-direction: column;
}
  
::ng-deep .date-content{
  font-family: vazirWithoutLatin !important;
}
