

<!-- Aside -->
<aside class="bsb-sidebar-1 offcanvas offcanvas-start" tabindex="-1" id="bsbSidebar1" aria-labelledby="bsbSidebarLabel1">
    <div class="offcanvas-header">
      <a class="sidebar-brand" href="#!">
        <img src="./assets/img/bsb-logo.svg" id="bsbSidebarLabel1" class="img-fluid" alt="BootstrapBrain Logo" width="135" height="44">
      </a>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body pt-0">
      <hr class="sidebar-divider mb-3">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link p-3 active bg-light rounded" data-bs-toggle="collapse" href="#dashboardExamples" role="button" aria-expanded="true" aria-controls="dashboardExamples">
            <div class="nav-link-icon text-primary">
              <i class="bi bi-house-gear"></i>
            </div>
            <span class="nav-link-text fw-bold">Dashboards</span>
          </a>
          <div class="collapse show" id="dashboardExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#!">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Default</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Sales</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Marketing</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Directory</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-primary-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Analytic</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item mt-3">
          <h6 class="py-1 text-secondary text-uppercase fs-7">Pages</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#pageExamples" role="button" aria-expanded="false" aria-controls="pageExamples">
            <div class="nav-link-icon text-danger">
              <i class="bi bi-folder"></i>
            </div>
            <span class="nav-link-text fw-bold">Pages</span>
          </a>
          <div class="collapse" id="pageExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-danger-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Account</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-danger-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Profile</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-danger-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Users</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-danger-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Projects</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-danger-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Invoice</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-danger-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Pricing</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#authExamples" role="button" aria-expanded="false" aria-controls="authExamples">
            <div class="nav-link-icon text-success">
              <i class="bi bi-gear"></i>
            </div>
            <span class="nav-link-text fw-bold">Authentication</span>
          </a>
          <div class="collapse" id="authExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-success-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Sign In</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-success-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Sign Up</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-success-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Reset Password</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-success-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Lock</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-success-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Error</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-success-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">2FA</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#ecommerceExamples" role="button" aria-expanded="false" aria-controls="ecommerceExamples">
            <div class="nav-link-icon text-info">
              <i class="bi bi-cart"></i>
            </div>
            <span class="nav-link-text fw-bold">Ecommerce</span>
          </a>
          <div class="collapse" id="ecommerceExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-info-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Overview</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-info-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Products</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-info-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Orders</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-info-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Referral</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#componentExamples" role="button" aria-expanded="false" aria-controls="componentExamples">
            <div class="nav-link-icon text-warning">
              <i class="bi bi-database-check"></i>
            </div>
            <span class="nav-link-text fw-bold">Components</span>
          </a>
          <div class="collapse" id="componentExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-warning-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Buttons</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-warning-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Charts</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-warning-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Forms</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-warning-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Icons</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-warning-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Widgets</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-warning-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Notifications</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item mt-3">
          <h6 class="py-1 text-secondary text-uppercase fs-7">Docs</h6>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#basicExamples" role="button" aria-expanded="false" aria-controls="basicExamples">
            <div class="nav-link-icon text-dark">
              <i class="bi bi-pen"></i>
            </div>
            <span class="nav-link-text fw-bold">Basic</span>
          </a>
          <div class="collapse" id="basicExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-dark-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Getting Started</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-dark-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Foundation</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-dark-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">FAQs</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" data-bs-toggle="collapse" href="#frameworkExamples" role="button" aria-expanded="false" aria-controls="frameworkExamples">
            <div class="nav-link-icon text-dark">
              <i class="bi bi-shield-plus"></i>
            </div>
            <span class="nav-link-text fw-bold">Framework</span>
          </a>
          <div class="collapse" id="frameworkExamples">
            <ul class="nav flex-column ms-4">
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-dark-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Developers</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-dark-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">API</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-secondary" aria-current="page" href="#!">
                  <div class="nav-link-icon text-dark-emphasis">
                    <i class="bi bi-arrow-right-short"></i>
                  </div>
                  <span class="nav-link-text">Changelog</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <hr class="sidebar-divider my-4">
      <div class="bg-light rounded-3 position-relative px-4 pt-5 pb-4 mt-7">
        <div class="bsb-w-80 bsb-h-80 d-flex align-items-center justify-content-center text-bg-primary border border-5 border-white rounded-circle position-absolute top-0 start-50 translate-middle">
          <i class="bi bi-rocket-takeoff lh-1 fs-3"></i>
        </div>
        <div class="text-center">
          <h3 class="h5">Pro Snippets</h3>
          <p class="fs-7">Our meticulously crafted code snippets are handy for everyday tasks, allowing you to breeze through your projects.</p>
          <div class="d-grid m-0">
            <a class="btn btn-primary rounded-pill" href="https://bootstrapbrain.com/license/" role="button">Upgrade</a>
          </div>
        </div>
      </div>
    </div>
  </aside>
  
  