<div class="col-12">
    <div class="card widget-card border-light shadow-sm">
      <div class="card-header text-bg-primary">خوش آمدی,  ممد</div>
      <div class="card-body">
        <div class="text-center mb-3">
          <img src="./assets/img/profile/profile-img-1.jpg" class="img-fluid rounded-circle" alt="Luna John">
        </div>
        <h5 class="text-center mb-1">محمد دهقانی</h5>
        <p class="text-center text-secondary mb-4">برنامه نویس</p>
        <ul class="list-group list-group-flush mb-4 pr-0">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <h6 class="m-0">دنبال کننده</h6>
            <span>7,854</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <h6 class="m-0">دنبال شونده</h6>
            <span>5,987</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <h6 class="m-0">دوستان</h6>
            <span>4,620</span>
          </li>
        </ul>
        <div class="d-grid m-0">
          <button class="btn btn-outline-primary" type="button">دنبال کردن</button>
        </div>
      </div>
    </div>
  </div>