/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url(../src/app/shared/theme/themes.scss);

body{
    font-family: 'vazirWithoutLatin' !important;
}


.mr-auto{
    margin-right: auto;
}

.mr-5 {
    margin-right: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mt-10{
    margin-top: 10px;
}

.mt-5{
    margin-top: 5px;
}

.text-right{
    text-align: right;
}

.dir-ltr{
    direction: ltr;
}

.pr-0{
    padding-right: 0;
}

.btn-large{
    width: 200px;
    font-size: 14px;
    padding: 5px;
    text-align: center;
}

.btn-small{
    width: 95px;
    font-size: 14px;
    padding: 5px;
    text-align: center;
}

.btn-medium{
    width: 120px;
    font-size: 14px;
    padding: 5px;
    text-align: center;
}