<section class="pb-3 pb-md-4 pb-xl-5 bg-light">
    <div class="container">
        <div class="row gy-3 gy-md-4">
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="card widget-card border-light shadow-sm h-100">
                    <div class="card-body p-4">
                        <h5 class="card-title widget-card-title mb-3">آمار درآمد</h5>
                        <div id="bsb-chart-3">
                            <apx-chart
                            [series]="chartOptions.series"
                            [chart]="chartOptions.chart"
                            [dataLabels]="chartOptions.dataLabels"
                            [plotOptions]="chartOptions.plotOptions"
                            [yaxis]="chartOptions.yaxis"
                            [legend]="chartOptions.legend"
                            [fill]="chartOptions.fill"
                            [stroke]="chartOptions.stroke"
                            [tooltip]="chartOptions.tooltip"
                            [xaxis]="chartOptions.xaxis"
                          ></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-5">
                <div class="card widget-card border-light shadow-sm h-100">
                    <div class="card-body p-4">
                        <h5 class="card-title widget-card-title mb-4">نمای کلی پرداخت</h5>
                        <div class="row gy-4">
                            <div class="col-12">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <div
                                                    class="fs-5 bsb-w-50 bsb-h-50 bg-primary-subtle text-primary rounded-2 d-flex align-items-center justify-content-center me-3">
                                                    <i class="bi bi-paypal"></i>
                                                </div>
                                            </div>
                                            <div class="mr-10">
                                                <h6 class="m-0">PayPal</h6>
                                                <p class="text-secondary m-0 fs-7">Funds Received</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <h6 class="text-end">$5,432</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <div
                                                    class="fs-5 bsb-w-50 bsb-h-50 bg-primary-subtle text-primary rounded-2 d-flex align-items-center justify-content-center me-3">
                                                    <i class="bi bi-stripe"></i>
                                                </div>
                                            </div>
                                            <div class="mr-10">
                                                <h6 class="m-0">Stripe</h6>
                                                <p class="text-secondary m-0 fs-7">Invoice Paid</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <h6 class="text-end">$325</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <div
                                                    class="fs-5 bsb-w-50 bsb-h-50 bg-primary-subtle text-primary rounded-2 d-flex align-items-center justify-content-center me-3">
                                                    <i class="bi bi-credit-card-fill"></i>
                                                </div>
                                            </div>
                                            <div class="mr-10">
                                                <h6 class="m-0">Credit Card</h6>
                                                <p class="text-secondary m-0 fs-7">Top Up</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <h6 class="text-end">$99</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <div
                                                    class="fs-5 bsb-w-50 bsb-h-50 bg-primary-subtle text-primary rounded-2 d-flex align-items-center justify-content-center me-3">
                                                    <i class="bi bi-bank2"></i>
                                                </div>
                                            </div>
                                            <div class="mr-10">
                                                <h6 class="m-0">Bank</h6>
                                                <p class="text-secondary m-0 fs-7">Check Deposited</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <h6 class="text-end">$2,432</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <div
                                                    class="fs-5 bsb-w-50 bsb-h-50 bg-primary-subtle text-primary rounded-2 d-flex align-items-center justify-content-center me-3">
                                                    <i class="bi bi-wallet-fill"></i>
                                                </div>
                                            </div>
                                            <div class="mr-10">
                                                <h6 class="m-0">Wallet</h6>
                                                <p class="text-secondary m-0 fs-7">Bill Payment</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <h6 class="text-end">$750</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <div
                                                    class="fs-5 bsb-w-50 bsb-h-50 bg-primary-subtle text-primary rounded-2 d-flex align-items-center justify-content-center me-3">
                                                    <i class="bi bi-arrow-up-left-circle-fill"></i>
                                                </div>
                                            </div>
                                            <div class="mr-10">
                                                <h6 class="m-0">Refund</h6>
                                                <p class="text-secondary m-0 fs-7">Case Closed</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <h6 class="text-end">$289</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>